html {
    background-color: #111827;
    color: #fff;

    margin: 5px;
    padding: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-bar {
    background-color: #707079;
    color: #fff;

    padding-top: 12px;
    padding-bottom : 12px;

    padding-left: 15px;
    padding-right: 15px;

    border-radius: 15px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
}

.title h1 {
    margin: 0px;
}

.spacer {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 6px;
    padding-bottom: 6px;

    text-decoration: none;
    font-size: 20px;

    color: #fff;
    background-color: #8f8f9b;

    border-radius: 15px;
    margin-right: 10px;
}

.links a:hover {
    background-color: #b5b5b5;
    color : #fff;

    border-radius: 15px;

    padding-left: 15px;
    padding-right: 15px;

    padding-top: 6px;
    padding-bottom: 6px;

    text-decoration: none;
    font-size: 20px;

    margin-right: 10px;
}

.content {
    background-color: #707079;
    color: #fff;

    padding-top: 12px;
    padding-bottom : 12px;

    padding-left: 15px;
    padding-right: 15px;

    border-radius: 15px;
    text-decoration: none;

    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    align-items: start;

    height: 480px;
    gap: 20px;
}

.sections {
    margin: 10px;
    align-items: center;
}

.sections h2 {
    text-align: center;
}

.sections p {
    text-align: center;
}